<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.cordea.mackerelclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".McApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MetricsActivity"
            android:label="@string/title_activity_metrics"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ServiceMetricsActivity"
            android:label="@string/title_activity_service_metrics"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MetricsEditActivity"
            android:label="@string/title_activity_metrics_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AlertDetailActivity"
            android:label="@string/title_activity_alert_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MonitorDetailActivity"
            android:label="@string/title_activity_monitor_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.HostDetailActivity"
            android:label="@string/title_activity_host_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/title_activity_license"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
